* {
    padding: 0;
    margin: 0;
}

.header {
    min-height: 80vh;
    width: 100%;
    background-image: url(assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100%;
}

.nav-links {
    flex: 1;
    text-align: center;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

#about {
    text-decoration: underline;
    height: 2px;
}

.center-first {
    margin-top: 200px;
    text-align: center;
    color: #fff;
}

.center-first h1 {
    margin: 60px 0;
    font-size: 250%;
}

/* 
.container-1 {
    background-image: url(assets/Desktop_Backgrounds_1920x1200_6\ 3.png);
    width: 100%;
    height: 822px;
    top: -22px;
    left: -116px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin: 0;
} */


.container-2 {
    height: 700px;
    text-align: center;
}

.telo {
    margin: 60px 100px 0;
}

.read-more {
    background-color:cornflowerblue;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    border-style: hidden;
    color: white;
    font-size: 13px;
    font-style: bold;
}

.container-3 {
    height: 100%;
    background-image: url(assets/audience.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 100px;
}

.content {
    width: 500px;
    height: 500px;
    margin: auto;

}

.learn-more {
    color: white;
    font-size: 3vh;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 20vh;
    width: 20vh;
    margin: auto;
    border-radius: 10vh;
    size: 50px;
    background-color: cadetblue;
    color: white;

  }
  
.footer-content {
    margin-top: 100px;
}